{% extends 'jadwal/base.html' %}

{% block page_title %}
    List Kegiatan
{% endblock page_title %}

{% block header %}
    List Kegiatan
{% endblock header %}

{% block content %}
    {% if not jadwals %}
        <div class='d-flex justify-content-center'>
            <p>Mohon maaf, tidak ada Jadwal yang dapat ditampilkan.</p>
        </div>
    {% else %}
        <div class='table-responsive'>
            <table class='table table-striped'>
                <thead class='thead-dark'>
                    <tr>
                        <th scope='col' class='align-middle'>#</th>
                        <th scope='col' class='align-middle'>Kategori</th>
                        <th scope='col' class='align-middle'>Nama Kegiatan</th>
                        <th scope='col' class='align-middle'>Tempat</th>
                        <th scope='col' class='align-middle'>Waktu Mulai</th>
                        <th scope='col' class='align-middle'>Waktu Berakhir</th>
                        <th scope='col' class='align-middle'>Delete</th>
                    <tr>
                </thead>
                <tbody>
                    {% for jadwal in jadwals %}
                        <tr>
                            <th scope='row' class='align-middle'>{{forloop.counter}}</th>
                            <td class='align-middle'>{{jadwal.kategori}}</th>
                            <td class='align-middle'>{{jadwal.name}}</th>
                            <td class='align-middle'>{{jadwal.place}}</th>
                            <td class='align-middle'>{{jadwal.start_time}}</th>
                            <td class='align-middle'>{{jadwal.end_time}}</th>
                            <td class='align-middle'><a class='btn btn-danger' href='{% url 'delete' jadwal.id %}' title=''>Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            <table>
        </div>
    {% endif %}
{% endblock content %}