<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'intothevoid/snippets/styles.html' %}
    <title>My Blog</title>
</head>
<body>
    <div>
        {% include 'intothevoid/snippets/navbar.html'%}
    </div>
    <div class="landing" id="landing">
        <img name="bg" src="{% static 'images/bg-2.jpg' %}">
        <p class="text-center">Salman Ahmad Nurhoiriza</p>
        <hr class='main-line'>
        <p class="text-center turunin-font-size">Resume</p>
    </div>

    <div class="profile container" id="profile">
        <div class="profile-header">
            <h1 class="text-center"><b>Profile</b></h1>
            <h2 class="text-center">Computer Science Student</h2>
            <hr class='header-line'>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p id='head'>About Me</p>
                    <p class="text-justify about-me font-profile">I’m an ambitious junior prorammer student striving for computing knowledge. I am interested in  Web Development, Machine Learning, and Game Development. I am determined and passionate when it comes to my interests, especially if it helps other people and make the world a better place.</p>
                </div>
                <div class="col-sm foto-container">
                    <img src="{% static 'images/MyFoto.jpg' %}" class="rounded-circle my-poto" alt="Pas-Foto">
                </div>
                <div class="col-sm skill">
                    <p id='head'>Skills</p>
                    <p class="font-profile">Java</p>
                    <hr class='line-skills'>
                    <p class="font-profile">Python</p>
                    <hr class='line-skills'>
                    <p class="font-profile">HTML/CSS</p>
                    <hr class='line-skills'>
                    <p class="font-profile">C</p>
                    <hr class='line-skills'>
                </div>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#landing">
                <img src="{% static 'images/upArrow.png' %}" class="float-right">
            </a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
